@import './asset/abstracts/variables';
@import './asset/abstracts/functions';
@import './asset/abstracts/mixins';

@import '/src/asset/scss/animation';
@import '/src/asset/icon-font.css';

@import '/src/components/home/home.scss';
@import '/src/components/button/button.scss';
@import '/src/components/header/header.scss';
@import '/src/components/features/features.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}